.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg-main);
    padding: 10px 10px 10px;
    color: var(--text-muted);
    margin-top: 100px;

    border-top: 1px solid rgba(15, 42, 68, 0.1);
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-text {
    font-size: 1rem;
    opacity: 0.85;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
}

.footer-location {
    font-size: 0.90rem;
    opacity: 0.75;
    font-family: 'Poppins', sans-serif;
}

.footer-copy {
    font-size: 0.85rem;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
}