html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: var(--header-hight);

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(195, 162, 109, 0.653);
    backdrop-filter: blur(6px);
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.header .logo span,
.header .nav a {
    color: var(--text-muted);
}

.header.scrolled {
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    background-color: rgba(195, 162, 109, 0.423);
}

.header.scrolled .logoName,
.header.scrolled .nav a {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-muted);
}

.header.scrolled .nav a {
    font-size: 18px;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.3s ease;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

nav a:hover {
    color: var(--text-main);
    text-decoration: underline;
    
}

.logoName {
    font-weight: 500;
    font-size: 2.3rem;
    color: var(--text-main);
}

