html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    max-width: 100%;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(195, 162, 109, 0.653);
    backdrop-filter: blur(6px);
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.header .logo span,
.header .nav a {
    color: var(--text-muted);
}

.header.scrolled {
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    background-color: rgba(195, 162, 109, 0.423);
}

.header.scrolled .logoName,
.header.scrolled .nav a {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-muted);
}

.header.scrolled .nav a {
    font-size: 18px;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.3s ease;
}

.burger {
    display: none;
}

.burger span {
    width: 22px;
    height: 2px;
    background: #f5f3ef;
    border-radius: 2px;
    transition: transform 0.35s ease, opacity 0.25 ease;
}

.burger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.nav {
    display: flex;
    gap: 28px;
    align-items: center;
    max-width: 100%;
}

.nav.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 50%;
    background: rgba(20, 20, 20, 0.85);
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.2s ease;
    opacity: 0;
    transform: translateY(8);
    animation: menuFade 0.4s ease forwards;
}

.nav.open a:nth-child(1) { animation-delay: 0.05s; }
.nav.open a:nth-child(2) { animation-delay: 0.1s; }
.nav.open a:nth-child(3) { animation-delay: 0.15s; }
.nav.open a:nth-child(4) { animation-delay: 0.2s; }


nav a:hover {
    color: var(--text-main);
    text-decoration: underline;
    
}

.logoName {
    font-weight: 500;
    font-size: 2.3rem;
    color: var(--text-main);
}

.price-btn {
    border: none;
    background: #d4b24ca9;
    color: #1c1c1c;
    font-size: 1.2rem;
    box-shadow: 10 6px 20px rgba(0,0,0,0.08);
    border-radius: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.price-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: #f3efe8;
}

@keyframes menuFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1023px) {
}

@media (max-width: 768px) {

    .chat-bubble {
        display: none;
    }
}
