html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(195, 162, 109, 0.653);
    backdrop-filter: blur(6px);
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.header .logo span,
.header .nav a {
    color: var(--text-muted);
}

.header.scrolled {
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    background-color: rgba(195, 162, 109, 0.423);
}

.header.scrolled .logoName,
.header.scrolled .nav a {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-muted);
}

.header.scrolled .nav a {
    font-size: 18px;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.3s ease;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

nav a:hover {
    color: var(--text-main);
    text-decoration: underline;
    
}

.logoName {
    font-weight: 500;
    font-size: 2.3rem;
    color: var(--text-main);
}

.price-btn {
    border: none;
    background: #d4b24ca9;
    color: #1c1c1c;
    font-size: 1.2rem;
    box-shadow: 10 6px 20px rgba(0,0,0,0.08);
    border-radius: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.price-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: #f3efe8;
}

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 12px 16px;
        backdrop-filter: blur(8px);
    }

    .header-inner {
        padding: 0;
        height: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.1;
    }

    .logo span {
        font-size: 1rem;
        opacity: 0.7;
    }

    .header nav a {
        font-size: 15px;
        font-weight: 500;
        color: #3a2e1f;
    }
}
