.hero {
  min-height: 60vh;
  margin-top: 20px;
  padding-top: 50px;
  background-color: var(--bg-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;

  background-image: url('/src/assets/images/pic_seaone.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;

  opacity: 0.8;
  filter: saturate(1);

  z-index: 0;
}

.logo-img {
  border-radius: 50%;
  justify-content: center;
  width: 150px;
  margin-bottom: 24px;
  opacity: 0.95;
}

.hero-content {
  position: relative;
  width: 100%;
  padding: 80px 46px;
  z-index: 2;
  text-align: center;
  background: rgba(243, 239, 232, 0.85);
  

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hero-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  color: var(--text-main);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 32px;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  color: var(--text-muted);
}

.hero-btn {
  display: inline-block;
  padding: 15px 28px;
  border: none;
  background: var(--text-light);
  color: var(--bg-dark);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  background-color: var(--bg-main);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
