:root {
    /*backgrounds*/ 
    --bg-main: #f3efe8;
    --bg-section: #ede7dd;
    --bg-dark: #1f3b2e;

    /*text*/ 
    --text-main: #2f2f2f;
    --text-muted: #6f6a60;
    --text-light: #ffffff;

    /*accent*/
    --accent: #8a8f5c;
    --border-soft: rgba(0,0,0,0.06);

    /*spacing*/ 
    --space-section: 120px;
    --space-inner: 24px;

    --header-hight: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

main {
    padding-top: 0px;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-section) var(--space-inner);
    background-color: var(--bg-main);

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section.alt {
    background-color: var(--bg-section);
}

h1, h2, h3 {
    color: var(--text-main);
    letter-spacing: 0.5px;
    font-weight: 600;
}

.section h2 {
    margin-bottom: 24px;
    text-align: center;
    font-size: 30px;
    color: var(--text-main);
}

.section p {
    color: var(--text-muted);
    line-height: 1.6;
    margin: 0 auto;
    max-width: 680px;
    font-size: 1.1rem;
    text-align: center;
}

.section p + p {
    margin-top: 16px;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#about,
#gallery,
#contact {
    scroll-margin-top: 150px;
}




@media (max-width: 768px) {
    .section {
        padding: 60px 16px;
    }

    .section h2 {
        font-size: 1.8rem;
    }
}