:root {
    /*backgrounds*/ 
    --bg-main: #f3efe8;
    --bg-section: #ede7dd;
    --bg-dark: #1f3b2e;

    /*text*/ 
    --text-main: #2f2f2f;
    --text-muted: #6f6a60;
    --text-light: #ffffff;

    /*accent*/
    --accent: #8a8f5c;
    --border-soft: rgba(0,0,0,0.06);

    /*spacing*/ 
    --space-section: 120px;
    --space-inner: 24px;

    --header-hight: 100px;
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: none;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

main {
    padding-top: 0px;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-section) var(--space-inner);
    background-color: var(--bg-main);

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section.alt {
    background-color: var(--bg-section);
}

h1, h2, h3 {
    color: var(--text-main);
    letter-spacing: 0.5px;
    font-weight: 600;
}

.section h2 {
    margin-bottom: 24px;
    text-align: center;
    font-size: 30px;
    color: var(--text-main);
}

.section p {
    color: var(--text-muted);
    line-height: 1.6;
    margin: 0 auto;
    max-width: 680px;
    font-size: 1.1rem;
    text-align: center;
}

.section p + p {
    margin-top: 16px;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

/*CENÍK*/

.price-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 2000;

    display: flex;
    justify-content: flex-end;

    animation: fadeIn 0.3s ease;
}

.price-overlay.closing {
    animation: fadeOut 0.3s ease forwards;
}

.price-drawer { /*samotný panel*/
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    max-width: 100%;
    height: 100%;
    background: #faf9f7;
    padding: 24px 24px 24px;
    box-shadow: -8px 0 30px rgba(0,0,0,0.25);

    animation: slideIn 0.3s ease-out;

    display: flex;
    flex-direction: column;

    border-left: 1px solid #eee;
    font-family: "Inter", system-ui, sans-serif;
}

.price-grid {
    margin-bottom: 50px;
}

.price-drawer .close {
    align-self: flex-end;
    background: transparent;
    border: #7d231d 1px solid;
    border-radius: 10%;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
}

.price-drawer h2 {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.price-drawer p {
    font-size: 20px;
}

/*TRANSFER*/



@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@media (max-width: 768px) {

    html, body {
        max-width: 100%;
    }
    .section {
        padding: 60px 16px;
    }

    .section h2 {
        font-size: 1.8rem;
    }

    .price-drawer {
        width: 350px;
        font-size: 15px;
        margin-right: 15px;
    }

    .price-drawer p {
        font-size: 15px;
    }
}